.input-group {
    @apply w-full;

    label {
        @apply block mb-2 font-medium text-teal dark:text-cyan;
    }

    input {
        @apply py-3 px-4 rounded-lg border;
    }

    &.required > label::after {
        content: ' *';
    }

    &:has(small) {
        label {
            color: #f88282;
        }
        input {
            border-color: #f88282;
        }
    }
}
